.{
    margin: 0;
    padding: 0;
    boc-sizing: border-box;
}

body{
    background-image:url('Mumbai_House_price_predictor/templates/Mumbai.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-50{
    margin-top: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    color: #ffffff;
    width: 500;
}

